<td><a href="/surveys/{{id}}">{{title}}</a></td>
<td>{{ displaySurveyType survey }}</td>
<td>
    {{#if locked}}
        <strong>Survey Locked</strong>
    {{else}}
        <a class="btn light round" href="/surveys/{{id}}/edit"><i class="ic fa ic_edit"></i></a>
        <a class="btn primary delete round" href="/{{customer_uuid}}/surveys" alt="Remove Survey"><i class="ic fa ic_x"></i></a>
        {{#isAdmin}}
            <a href="/{{customer_uuid}}/surveys" class="btn light round reindex" alt="Re-Index"><i class="ic fa ic_check"></i></a>
        {{/isAdmin}}
    {{/if}}
    <a href="/{{customer_uuid}}/surveys" class="btn light round clone" alt="Clone Survey"><i class="ic fa ic_sheep"></i></a>
    <a data-bypass="true" class="btn light round" href="{{links.export}}" alt="Export Survey YAML"><i class="ic fa ic_download"></i></a>
    {{#isSuperAdmin}}
        <a class="btn light round lock" href="/{{customer_uuid}}/surveys" alt="Toggle Locked"><i class="ic fa {{ lockActionIconClass locked }}"></i></a>
    {{/isSuperAdmin}}
</td>
<td class="idx-handle"><i class="ic ic_hamburger medium-blue"></i></td>