<td><a href="/surveys/{{id}}">{{title}}</a></td>
<td>{{ displaySurveyType survey }}</td>
<td>
    {{#if locked}}
        <strong>Survey Locked</strong>
    {{else}}
        <a class="btn light round" href="/surveys/{{id}}/edit"><i class="ic fa ic_edit"></i></a>
        <a class="btn primary delete round" href="/{{customer_uuid}}/surveys" alt="Remove Survey"><i class="ic fa ic_x"></i></a>
        {{#isAdmin}}
            <a href="/{{customer_uuid}}/surveys" class="btn light round reindex" alt="Re-Index"><i class="ic fa ic_check"></i></a>
        {{/isAdmin}}
    {{/if}}
    {{#isSuperAdmin}}
        <a class="btn light round lock" href="/{{customer_uuid}}/surveys" alt="Toggle Locked"><i class="ic fa {{ lockActionIconClass locked }}"></i></a>
    {{/isSuperAdmin}}
    <a href="/{{customer_uuid}}/surveys" class="btn light round clone" alt="Clone Survey"><i class="ic fa ic_sheep"></i></a>
    <a href="/{{customer_uuid}}/surveys" class="btn light round export" alt="Export Survey"><i class="ic fa ic_download"></i></a>
    <div class="survey-list-container export-container">
        {{#each links}}
            <a data-bypass="true" href="{{this.url}}" alt="Export Survey CSV" class="btn light solid">{{this.type}}</a>
        {{/each}}
    </div>
    <div class="survey-list-container clone-customer-container">
        <label>Clone Customer:</label>
        <select class="clone-customer-select" name="clone_customer">
            <option value="{{customer_uuid}}">{{customer}}</option>
            {{#select customer}}
                {{#each customers}}
                    <option value="{{attributes.uuid}}">{{attributes.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <button class="btn light solid save-clone">Clone Survey</button>
    </div>
</td>
<td class="idx-handle"><i class="ic ic_hamburger medium-blue"></i></td>