<h1>Surveys</h1>
<div class="section">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#if surveys}}
        {{#each surveys}}
            <tr>
                <td><a href="/surveys/{{this.id}}">{{this.title}}</a></td>
                <td>
                    <a href="/surveys/{{this.id}}/edit">Edit</a>
                    <a href="/surveys/{{this.id}}/delete">Delete</a>
                </td>
            </tr>
        {{/each}}
        {{else}}
            <tr><td>No Surveys</td><td></td></tr>
        {{/if}}
        </tbody>
    </table>
</div>







