{{#rows}}
	<div class="item pure-g">
		<p class="col-1-3 col-md-8-12"><a href="{{links.self}}">{{name}}</a></p>
		<p class="col-1-3 col-md-4-12">{{role}}</p>
		<p class="col-1-3 minor-m">
		{{#if last_visited}}
			<a href="{{links.last_checkin}}">{{last_visited}}</a></td>
		{{else}}
			No checkins on record
		{{/if}}			
		</p>
	</div>
{{else}}
	<p>There are no personnel assigned to this store</p>
{{/rows}}