{{#rows}}
	<div class="item pure-g alert-row">
		<p class="col-6-12 col-md-1">{{title}}</p>
		<p class="col-2-12 minor-m">{{created_at}}</p>
		<p class="col-2-12 minor-m">{{resolved_at}}</p>
		<div class="col-2-12 col-md-1 alert-actions">
			<a href="{{links.resolve}}" class="btn primary expand">...<span class="visible-md">Details</span></a>
			<a href="{{links.checkin}}" class="btn primary"><i class="ic fa ic_report-16"></i><span class="visible-md">View Report</span></a>
		</div>
		{{> 'alert_details_empty_row'}}
	</div>
{{else}}
	<p>There are no Resolved Alerts for this Store</p>
{{/rows}}