<h3>ISSUE OPENED</h3>
<p>{{created_at}} by <a href="{{links.created_by}}">{{created_by}}</a></p>

<h3>ISSUE RESOLVED</h3>
<p>{{resolved_at}} by <a href="{{links.resolved_by}}">{{resolved_by}}</a></p>

<h3>ADDITIONAL NOTES</h3>
<p class="notes">{{#if notes}}{{notes}}{{else}}No Notes provided{{/if}}</p>
