<div class="pure-g scheduled-visit-row">
	<div class="col-2-12 scheduled-visit-cell">
		<a href="{{program_store_link}}">
			{{program_store_name}}
		</a>
		<div>
			{{program_store_locality}},
			{{program_store_administrative_area_level_1}}
		</div>
	</div>
	<div class="col-2-12 scheduled-visit-cell">{{job_name}}</div>
	<div class="col-2-12 scheduled-visit-cell">{{localizedUTCDate visit_date_scheduled}}</div>
	{{#if checkin_link}}
		<div class="col-2-12 scheduled-visit-cell"><a href="{{checkin_link}}">{{localizedUTCDate visit_date_completed}}</a></div>
	{{else}}
		<div class="col-2-12 scheduled-visit-cell">{{localizedUTCDate visit_date_completed}}</div>
	{{/if}}
	<div class="col-2-12 scheduled-visit-cell"><a href="{{agent_link}}">{{agent_name}}</a></div>
	<div class="col-2-12 scheduled-visit-cell"><a href="{{supervisor_link}}">{{supervisor_name}}</a></div>
</div>
