<td>
    <a href="{{program_store_link}}">
        {{program_store_name}}
    </a>
    <div>
        {{program_store_locality}},
        {{program_store_administrative_area_level_1}}
    </div>
</td>
<td>{{job_name}}</td>
<td>{{localizedUTCDate visit_date_scheduled}}</td>
{{#if checkin_link}}
    <td><a href="{{checkin_link}}">{{localizedUTCDate visit_date_completed}}</a></td>
{{else}}
    <td>{{localizedUTCDate visit_date_completed}}</td>
{{/if}}
<td><a href="{{agent_link}}">{{agent_name}}</a></td>
{{#if supervisor_role}}
    <td><a href="{{supervisor_link}}">{{supervisor_name}}</a></td>
{{/if}}
{{#if show_requestors}}
    <td><a href="{{requestor_link}}">{{requestor_name}}</a></td>
{{/if}}
