<p class="item col-1-5"><a href="{{links.self}}">{{title}}</a></p>
<p class="item col-1-5">{{dateRange}}</p>
<p class="item col-1-5">{{percentComplete}}%</p>
<p class="item col-1-5">{{percentInProgress}}%</p>
<p class="item col-1-5">{{percentNotStarted}}%</p>