
<p class="col-1-5"><a href="{{scheduleLink}}">{{person.firstName}} {{person.lastName}}</a></p>
<p class="col-1-5">{{visitsRequired}}</p>
<p class="col-1-5">{{visitsScheduled}}</p>
<p class="col-1-5">{{schedulingStatus}}</p>
<p class="col-1-5">{{workflowStatus}}</p>