
<p class="col-3-12"><a href="{{scheduleLink}}">{{person.firstName}} {{person.lastName}}</a></p>
<p class="col-3-12">{{visitsRequired}}</p>
<p class="col-3-12">{{visitsScheduled}}</p>
<p class="col-2-12">{{schedulingStatus}}</p>