<p class="item col-2-12"><a href="{{links.profileUrl}}" target="_new">{{firstName}} {{lastName}}</a></p>
<p class="item col-3-12">
    {{#if taskDetail}}
        {{taskDetail}}<br/>
    {{/if}}
    {{storeName}}<br/>{{city}}, {{state}}
</p>
<p class="item col-2-12"><a href="{{links.cycleUrl}}">{{formattedDateScheduled}}</a></p>
<p class="item col-2-12">{{formattedDateCompleted}}</p>
<p class="item col-1-12">{{daysLate}}</p>
<p class="item col-2-12">{{daysBetweenCompletion}}</p>