<div class="activity-holder">
    <div class="activity">
        <div class="activity-meta">
            <img src="{{user_image}}" alt="Images That Describes Me" class="user-image img-circle" onerror="this.src='{{user_image_error_url}}'"/>

            <div class="bar-body">
                {{#if_eq type "Checkin"}}
                <p>
                    <a href="{{location.profile_url}}">{{location.store}}</a>
                    , {{location.city}}, {{location.state}}
                </p>
                {{/if_eq}}
                <p>
                    <span data-livestamp="{{created_at}}"></span>
                    by
                    <a href="/programs/{{current_program}}/profiles/{{user_id}}">{{user_name}}</a>
                </p>
            </div>
        </div>
        <div class="activity-content">
            {{#if_eq type "Checkin"}}
            <div class="issues-found">
                <h3>{{issue_length}} Issues Found</h3>
                <ul class="unstyled">
                    {{#each issues}}
                    <li>- {{label}}</li>
                    {{/each}}
                </ul>
                {{#if_gt issue_length 3}}
                <a href="{{report_url}}"><span class="indicator">showing 3 of {{issue_length}}</span></a>
                {{/if_gt}}
            </div>
            {{/if_eq}}

            <h3>{{subject}}</h3>
            {{{content}}}
        </div>
        {{#if images}}
        <div class="activity-photos">

            <div class="carousel">
                {{#each images}}
                <div>
                    <div class="helper">
                        <img src="{{url}}" class="img-responsive" onerror="this.src='{{../content_image_error_url}}'"/>
                    </div>
                    <div class="img-label">{{image_type}}</div>
                </div>

                {{/each}}
                <a href="#" class="arrow arrow-left">
                    <span class="ic ic_left"></span>
                </a>
                <a href="#" class="arrow arrow-right">
                    <span class="ic ic_right"></span>
                </a>
            </div>

        </div>
        {{/if}}

        <div class="activity-status visible-xs">
            <span class="action">
                <span class="like-count" data-likecount="{{like_count}}">{{like_count}}</span> <span class="like-label">{{pluralize like_count 'Like' 'Likes'}}</span>
            </span>


            <span class="action">
                <span> {{comments_count}}  {{pluralize comments_count
                    'Comment' 'Comments'}}
                </span>
            </span>

        </div>

        <div class="activity-actions">
                <span class="action bold">
                    {{#if show_like_button}}
                    <a class="activity_like_button gray" data-id="{{activity_id}}" href="#">
                        Like
                    </a>
                    {{else}}
                     Liked
                    {{/if}}
                </span>
            <span class="action bold">
                <a href="#" class="start-comment hidden-xs">Comment</a>
                <a href="/programs/{{current_program}}/activities/{{activity_id}}" class="visible-xs-inline">Comment</a>
            </span>
            {{#if_eq type "Checkin"}}
                <span class="action bold">
                    <a href="{{report_url}}">Full Report</a>
                </span>
            {{/if_eq}}
            <span class="action bold">
            <a href="/programs/{{current_program}}/activities/{{activity_id}}" class="hidden-xs">View Activity</a>
                </span>
        </div>
    </div>
    <div class="comment-holder hidden-xs">
        <div class="activity-status">
            <span class="action">
                <span class="like-count" data-likecount="{{like_count}}">{{like_count}}</span> <span class="like-label">{{pluralize like_count 'Like' 'Likes'}}</span>
            </span>

            {{#if_gt comments_count 3}}
            <span class="action">
                <a href="#" class="more-comments">View {{additional_comments}} More {{pluralize additional_comments
                    'Comment' 'Comments'}}
                </a>
            </span>
            {{/if_gt}}
        </div>
        <div class="comments">

        </div>

        {{#if current_user}}
        <div class="comment new-comment">


        </div>
        {{/if}}

        {{#if show-moderation}}
        <div class="moderation-actions">
            {{#if editable}}
            <span class="action"><a href="{{editable}}">Edit Checkin</a></span>
            {{/if}}

            {{#if hideable}}
            <span class="action"><a href="#" class="hide-post">Hide Post</a></span>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>
