<tr>
    <td><a href="{{links.profile}}">{{first_name}} {{last_name}}</a></td>
    <td class="minor-m">{{address.state}}</td>
    <td>{{email}}</td>
    <td class="minor-m">{{phone}}</td>
    <td class="minor-m">{{university}}</td>
</tr>