{{#rows}}
	<div class="item pure-g">
		<p class="col-1-3 col-md-1-2">{{name}}</p>
		<p class="col-1-3 col-md-1-2">{{role}}</p>
		<p class="col-1-3 col-md-1">
		{{#if last_visited}}
			<a href="{{links.last_checkin}}">Last Visit: {{last_visited}}</a></td>
		{{else}}
			No Checkins on Record
		{{/if}}			
		</p>
	</div>
{{else}}
	<p>There are no Personnel assigned to this store</p>
{{/rows}}