<div class="bbm-button close-modal"><i class="ic ic_x"></i></div>
<div class="image-container">
    <img src="{{links.self}}" onerror="this.src='{{links.error}}'" alt="{{image_type}}"/>
    <p class="caption">{{{label}}}</p>
    <p class="timestamp caption">{{{photo_updated_at}}}</p>
</div>
