<h3>ISSUE OPENED</h3>
<p>{{created_at}} by {{created_by}}</p>

<h3>ISSUE RESOLVED</h3>
<p>{{resolved_at}} by {{resolved_by}}</p>

<h3>ADDITIONAL NOTES</h3>
<p class="notes">{{#if notes}}{{notes}}{{else}}No Notes provided{{/if}}</p>
