{{#rows}}
<div class="item pure-g">
    <p class="col-3-12 col-md-1-2"><a href="{{links.profile}}">{{first_name}} {{last_name}}</a>
    <p class="col-1-12 minor-m">{{address.state}}</p>
    <p class="col-3-12 col-md-1-2">{{email}}</p>
    <p class="col-2-12 minor-m">{{phone}}</p>
    <p class="col-3-12 minor-m">{{university}}</p>
</div>
{{else}}
<p class="item">No field force found for this query.</p>
{{/rows}}