<p class="col-1-5"><a href="#">Review Errors</a></p>
<p class="col-1-5">{{numberOfRows}}</p>
<p class="col-1-5">{{numberOfAmbiguousAccounts}}</p>
<p class="col-1-5">{{programStoresCreated}}</p>
<p class="col-1-5"><a href="/programs/{{programId}}/uploads/{{id}}/download" data-bypass="true">Download File</a></p>