<p class="col-2-12">
    <a href="#">Review Issues</a>
    <a href="/programs/{{programId}}/uploads/{{id}}/download" data-bypass="true" title="Download File" class="btn primary"><i class="ic fa ic_download"></i></a>
</p>
<p class="col-1-12">{{numberOfRows}}</p>
<p class="col-1-12">{{programStoresCreated}}</p>
<p class="col-2-12">{{numberOfAmbiguousAccounts}}</p>
<p class="col-2-12">{{numberOfAmbiguousGeocodes}}</p>
<p class="col-1-12">{{numberOfZeroGeocodes}}</p>
<p class="col-1-12">{{numberOfFailedGeocodes}}</p>