<p class="col-1-4">
    <a href="#">Review Errors</a>
    <a href="/programs/{{programId}}/uploads/{{id}}/download" data-bypass="true" title="Download File" class="btn primary"><i class="ic fa ic_download"></i></a>
</p>
<p class="col-1-4">{{numberOfRows}}</p>
<p class="col-1-4">{{programStoresCreated}}</p>
<p class="col-1-4">{{numberOfAmbiguousAccounts}}</p>