<td>
  {{formatTimestamp createdAt}}<br>
  <a href="/programs/{{programId}}/uploads/{{id}}">Review Issues</a>
</td>
<td>
  <a href="/programs/{{programId}}/uploads/{{id}}/download" data-bypass="true" title="Download File">{{file}}</a>
</td>
<td>{{numberOfRows}}</td>
<td>{{numberOfExistingProgramStores}}</td>
<td>{{programStoresCreated}}</td>
<td>{{numberOfInvalidRows}}</td>
<td>{{numberOfAmbiguousAccounts}}</td>
<td>{{numberOfAmbiguousGeocodes}}</td>
<td>{{numberOfZeroGeocodes}}</td>
<td>{{numberOfFailedGeocodes}}</td>