<div>
    <a href="/programs/{{programId}}/uploads" class="btn primary"><i class="ic fa ic_left"></i> Back to upload history</a>
</div>
<br>
{{#if numberOfAmbiguousAccounts}}
    <h2>{{numberOfAmbiguousAccounts}} ambiguous accounts</h2>
    <div id="ambiguous-accounts"></div>
{{/if}}

{{#if numberOfAmbiguousGeocodes}}
    <h2>{{numberOfAmbiguousGeocodes}} ambiguous geocodes</h2>
    <div id="ambiguous-geocodes"></div>
{{/if}}

{{#if numberOfZeroGeocodes}}
    <h2>{{numberOfZeroGeocodes}} zero geocodes</h2>
    <div id="zero-geocodes"></div>
{{/if}}

{{#if numberOfFailedGeocodes}}
    <h2>{{numberOfFailedGeocodes}} failed geocodes</h2>
    <div id="failed-geocodes"></div>
{{/if}}
