<input name="tasks[{{index}}].id" type="hidden" value="{{#id}}{{this}}{{/id}}"/>

<div class="col-3-12 cell">
    <select name="tasks[{{index}}].type" id="taskType">
    {{#types}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{displayName}}</option>
    {{/types}}
    </select>    
</div>


<div class="col-3-12 cell">
    <select name="tasks[{{index}}].trackableUuid" id="survey">
        {{#trackableItems}}
            <option value="{{uuid}}{{id}}" {{#selected}}selected{{/selected}}>{{title}}{{name}}</option>
        {{/trackableItems}}
    </select>
</div>


<div class="col-1-12 cell">
    <input name="tasks[{{index}}].expectedDuration" type="number" value="{{#expectedDuration}}{{this}}{{else}}0{{/expectedDuration}}">
</div>


<div class="col-1-12 cell">
    <input name="tasks[{{index}}].paymentRate" type="number" placeholder="15.00" class="input" value="{{#displayPaymentRate}}{{this}}{{else}}0{{/displayPaymentRate}}">
</div>

<div class="col-1-12 cell center">
    <input name="tasks[{{index}}].payable" type="checkbox" checked={{#required}}checked{{/required}}> </input>
</div>

<div class="col-1-12 cell center">
    <input name="tasks[{{index}}].billable" type="checkbox" checked={{#required}}checked{{/required}}> </input>
</div>

<div  class="col-1-12 cell center">
    <input name="tasks[{{index}}].required" type="checkbox" checked={{#required}}checked{{/required}}> </input>
</div>

<div class="col-1-12 cell center">

    <i class="fa fa-trash"></i>
</div>