<div class="body task">
    <div class="details">
        <div>{{type}}</div>
        <div>{{name}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}</div>
        <div>{{topics}}</div>
    </div>

{{#if false}}
    {{#if duration}}
        <div class="requirements">
            <div><i class="ic ic_o-hours"></i> {{duration}} hrs</div>
        </div>
    {{/if}}
{{/if}}

    <div class="indicator">
    {{#if_eq submission.status 'complete'}}
        <button class="btn light">
            <i class="ic ic_check"></i>
        </button>
    {{else}}
        <button class="btn primary">
            <i class="ic ic_start"></i>
        </button>
    {{/if_eq}}

    </div>
</div>
<div class="divider"></div>


