<table>
    <tr><th>YOUR STORES</th><th>LAST CHECKIN</th><th></th></tr>
</table>

<div class="pagination"></div>

{{#rows}}
<tr>
    <td>
        <a href="{{name}}">{{name}}, #{{id}}</a>, {{city}}, {{state}}
        {{#if special_project}}
            <strong>This store is part of a Special Project</strong>
        {{/if}}

    </td>
    <td>{{last_checkin}}</td>
    <td>
        {{#if special_project}}
            <a href="/programs/{{program}}/checkins/{{id}}/choose" class="btn btn-primary btn-sm"><strong>Checkin Here</strong></a>
        {{else}}

            <form accept-charset="UTF-8" action="/programs/{{program}}/checkins" method="post">
                <input id="id" name="customer_store_id" type="hidden" value="{{id}}">
                <input name="authenticity_token" value="{{authenticity_token}}" type="hidden">
                <strong><button class="btn text-same-color" name="commit"><span class="ic ic_location"></span>  Checkin Here</button></strong>
            </form>
        {{/if}}
    </td>
</tr>
{{/rows}}