{{#if rows}}
<div class="section">
  <table class="table">
    <thead>
      <tr>
        <th>Store Name</th>
        <th>Address</th>
      {{#if rows.0.distance}}
        <th>Distance</th>
      {{/if}}
      </tr>
    </thead>
    <tbody>
    {{#rows}}
      <tr>
        <td>
          <a href="{{ links.profile }}">{{name}}</a>
        {{#if links.schedule}}
          <a href="{{links.schedule}}" target="_blank" title="View Store Schedule"><i class="ic ic_calendar"></i></a>
        {{/if}}
        </td>
        <td>{{address}}</td>
      {{#if distance}}
        <td>{{distance}} miles</td>
      {{/if}}
      {{#if sales_data}}
        <td>
        {{#if sales_data.message}}
          <span>
            <i class="medium-blue">{{sales_data.message}}</i>
          </span>
        {{else}}
          <span class="sales-button">
            <div class="percentage-change activity-feed-qtd {{ percentageChangeClass sales_data.sales_change }}">
              <i class="fa {{percentageChangeIcon sales_data.sales_change }} change-icon"></i>
              <div class="pull-right">{{formatPercentageChange sales_data.sales_change}}</div>
            </div>
          </span>
        {{/if}}
        </td>
      {{/if}}
      </tr>
    {{/rows}}
    </tbody>
  </table>
</div>
{{else}}
<div class="alert info">No stores are assigned.</div>
{{/if}}