{{#if rows}}
  <div class="header">
    <div class="pure-g">
      <h3 class="col-md-1 col-1-5">Store</h3>
      <h3 class="col-1-3 hidden-md">Address</h3>
      {{#if rows.0.distance}}
        <h3 class="col-1-7 hidden-md">Distance</h3>
      {{/if}}
      {{#if rows.0.links.schedule}}
        <h3 class="col-1-7 hidden-md">Schedule</h3>
      {{/if}}
      {{#if rows.0.sales_data}}
        <h3 class="col-1-7 hidden-md">Sales</h3>
      {{/if}}
    </div>
  </div>
  <div class="body">
    {{#rows}}
      <div class="item pure-g">
          <div class="col-md-1 col-1-5">
            <a href="{{ links.profile }}">{{name}}</a>
          </div>
          <div class="col-md-1 col-1-3">
            {{address}}
          </div>
          {{#if distance}}
            <div class="col-md-1 col-1-7">
              {{distance}} miles
            </div>
          {{/if}}
          {{#if links.schedule}}
            <div class="col-md-1 col-1-7">
              <a href="{{links.schedule}}" target="_blank" title="View Store Schedule"><i class="ic ic_calendar"></i> Schedule</a>
            </div>
          {{/if}}

          {{#if sales_data}}
            <div class="col-md-1 col-1-7">
              {{#if sales_data.message}}
              <span>
                  <i class="medium-blue">{{sales_data.message}}</i>
              </span>
              {{else}}
                  <span class="sales-button">
                  <a href="{{links.profile}}/sales" class="percentage-change activity-feed-qtd {{ percentageChangeClass sales_data.sales_change }}">
                      <i class="fa {{percentageChangeIcon sales_data.sales_change }} change-icon"></i>
                      <div class="pull-right">{{formatPercentageChange sales_data.sales_change}}</div>
                  </a>
              </span>
              {{/if}}
            </div>
          {{/if}}
      </div>
    {{/rows}}
  </div>
{{else}}
  <div class="alert info">No stores are assigned.</div>
{{/if}}
