<div class="body task clickable right-col" data-search="{{type}} {{name}} {{topics}} {{duration}}" data-topics="{{topics}}" data-survey_type="{{type}}">

    <div class="details">

        <div>{{type}}</div>
        {{#if topics}}
            <div>{{topics}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}</div>
            <div>{{name}}</div>
        {{else}}
            <div>{{name}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}</div>
            <div></div>
        {{/if}}

    </div>

{{#if false}}
    {{#if duration}}
        <div class="requirements">
            <div><i class="ic ic_o-hours"></i> {{duration}} hrs</div>
        </div>
    {{/if}}
{{/if}}

    <div class="indicator">
        <form action="{{action}}" method="post">
            <input type="hidden" name="task[][uuid]" value="{{uuid}}" />
            <input type="hidden" name="task[][survey_uuid]" value="{{survey_uuid}}" />
            <input type="hidden" name="task[][job_uuid]" value="{{job_uuid}}" />
            <input type="hidden" name="task[][topic_survey_id]" value="{{topic_survey_id}}" />
            <input type="hidden" name="task[][packet_uuid]" value="{{packet_uuid}}" />
            <button class="btn primary hide">
                <i class="ic ic_start"></i> <span class="hidden-xs">Start Activity</span>
            </button>
        </form>
    </div>
</div>
<div class="divider"></div>


