{{#if isVega}}
  <div class="group">
    <div class="section">
      To schedule, prepare, and confirm your visit to
      <i>{{storeName}}</i>
      please find
      <i>{{accountName}}</i>
      on the
      <a target="_blank" rel="noopener noreferrer" href="//bit.ly/VegaRetailRef">Retailer Reference Sheet</a>
      and follow its instructions.
    </div>
  </div>
{{/if}}
<div class="group">
  <div class="section">
    <h3>Type</h3>
    {{jobDetails.name}} </div>
  <div class="section">
    <h3>Store</h3>
    <div>
      {{storeName}}
    </div>
    <div>
      {{address}}
    </div>
  </div>
</div>
<div class="group">
  <div class="section">
    <h3>Start Time</h3>
    {{#if jobDetails.startTime}}
      {{jobDetails.startTime}}
      {{jobDetails.timezone}}
    {{ else }}
      No start time specified
    {{/if}}
  </div>
  <div class="section">
    <h3>Expected Duration</h3>
    <div>
        {{jobDetails.totalDuration}} minutes
    </div>
  </div>
</div>
<div class="group">
  <div class="section">
    <span class="bold">Tasks</span>
    <span class="subtle-instruction require-legend">* Required</span>
    {{#each jobDetails.tasks}}
        {{#if required}}
          <div>
            {{name}}
            <span class="subtle-instruction">*</span>
          </div>
        {{else}}
          {{#unless ../../isVega}}
          <div>
            {{name}}
          </div>
          {{/unless}}
        {{/if}}
    {{/each}}
  </div>
  {{#if jobDetails.notes}}
    <div class="section">
      <h3>Notes</h3>
      {{jobDetails.notes}}
    </div>
  {{/if}}
  {{#if jobDetails.products}}
    <div class="section">
        <h3>Products</h3>
        <ul>
        {{#each jobDetails.products}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </div>
  {{/if}}
</div>
{{#if isVega}}
  {{#if jobDetails.whiteoutDates}}
      <div class="group">
        <div class="section">
          <h3>Available Scheduling Dates</h3>
          <div>
            {{#each jobDetails.whiteoutDates}}
              <span class="availability-date">{{dateFormat this "MMM DD"}}</span>
            {{/each}}
          </div>
        </div>
      </div>
  {{/if}}
{{/if}}
{{#if jobDetails.createdByPersonDetails}}
    <div class="group">
      <div class="section">
        <h3>Requested By</h3>
        <div>
            {{jobDetails.createdByPersonDetails.firstName}}
            {{jobDetails.createdByPersonDetails.lastName}}
        </div>
        <div>
            {{jobDetails.createdByPersonDetails.email}}
        </div>
        <div>
            {{jobDetails.createdByPersonDetails.phone}}
        </div>
      </div>
    </div>
{{/if}}
{{#if dateCompleted}}
  <span class="subtle-instruction">NOTE: Completed jobs cannot be rescheduled</span>
{{/if}}
