<div class="col-5-5">
    <p class="bold">{{storeName}}</p>
    <p>{{address}}</p>
    <input type="hidden" class="visit" value="{{id}}"/>
    <input type="text" value="{{dateScheduled}}" style="display: none;"/>
    <p>{{jobDetails.name}}: <a href="#" class="task-count">{{taskCount}} task(s)</a>, {{totalDuration}} minutes</p>
    {{> 'tasks'}}
    {{#if canUnassign}}
        <a href="#" class='unassign btn primary small solid '>Unassign Visit</a>
        <a href="#" class='remove btn primary small solid '>Remove this store from this job</a>
    {{/if}}
</div>
