{{#if taskDetail}}
    <div><strong>{{taskDetail}}</strong></div>
{{/if}}
<div>{{storeName}}: {{street}} {{city}}, {{state}}</div>
<b>{{dateScheduled}}</b>
    <input type="hidden" class="visit" value="{{id}}"/>
    <input type="text" value="{{dateScheduled}}" style="display: none;"/>
    {{#if canUnassign}}<a href="#" class='unassign'>Unassign Visit</a>{{/if}}