<div class="col-5-5">
    <p class="bold">{{storeName}}</p>
    <p>{{street}} {{city}}, {{state}}</p>
    <input type="hidden" class="visit" value="{{id}}"/>
    <input type="text" value="{{dateScheduled}}" style="display: none;"/>
    <p><a href="#" class="task-count">{{taskCount}} task(s)</a>, {{totalDuration}} minutes</p>
    {{> 'tasks'}}
    {{#if canUnassign}}<a href="#" class='unassign btn primary small solid '>Unassign Visit</a>{{/if}}
</div>