{{#if dateCompleted}}
    * Completed jobs cannot be rescheduled<br/>
{{/if}}
<p class="bold">{{storeName}}</p>
<p>{{street}}</p>
<p>{{city}}, {{state}}</p>
<ul class="unstyled">
    {{#each tasks}}
        <li>- {{name}}</li>
    {{/each}}
</ul>