<h3 class="title">{{count}} Possible Stores</h3>
<div class="pagination-holder"></div>
{{#programStores}}
<p class="store-row"><input type="checkbox" name="ids" value="{{id}}" class="check" {{#selected}}checked{{/selected}}><span class="name">{{name}}</span> {{address}}</p>
{{else}}
<p class="info">No stores match your query</p>
{{/programStores}}