<h3 class="title"><span id="storeCount">{{count}}</span> Stores</h3>
<div class="pagination-holder"></div>
<table>
<thead>
<tr class="stores-header-row">
<th></th>
<th>Store</th>
<th>Address</th>
<th>Labels</th>
</tr>
</thead>
{{#programStores}}
<tr class="store-row">
				<td class="col-1-8"><input type="checkbox" name="ids" value="{{id}}" class="check" {{#selected}}checked{{/selected}}></td>
								<td class="name col-2-8">{{name}}</td>
								<td class="address col-3-8">{{address}}</td>
								<td class="labels col-2-8">
								{{#labels}}
								<span>{{content}}</span>
								{{/labels}}
								</td>
</tr>
{{/programStores}}
</table>
