<div class="pure-g section store-details">
    <div class="col-1-2">
        <dl>
            <dt>Account:</dt>
            <dd>{{accountName}}</dd>

            <dt>Store Tag:</dt>
            <dd>{{storeTag}}</dd>

            <dt>Address:</dt>
            <dd>{{address}}</dd>

            <dt>Latitude:</dt>
            <dd>{{latitude}}</dd>

            <dt>Longitude:</dt>
            <dd>{{longitude}}</dd>
        </dl>
    </div>
    <div class="col-1-2">
        Belongs to the following programs:
        <ul>
            <li>Program 1</li>
            <li>...</li>
            <li>Program n</li>
        </ul>
    </div>
</div>

<div>
    <button class="btn primary geocode">Re Process Geocode</button>
    <div id="geocode-choices"></div>
</div>

