{{#skus}}

	<div class="col-1-6">
		<p>{{index_inc @index}}) {{sku}}</p>
	</div>

	<div class="col-1-6">
		<p>No Description Available</p>
	</div>

	<div class="col-1-6">
		<p>{{usd}}</p>
	</div>

	<div class="col-1-6">
		<p>{{unitsSold}}</p>
	</div>

	<div class="col-1-6">
		<p>{{unitsOnHand}}</p>
	</div>

	<div class="col-1-6">
		<p><a href="{{links.emptyStores}}">{{emptyStores}}</a></p>
	</div>
{{else}}
	<p class="col-1-1">No Report Data found for this date range</p>

{{/skus}}