<div class="header-bar">
    <h2 class="name">{{name}}</h2>
    <span class="close-container"><i class="fa ic ic_x bbm-button"></i></span>
</div>

<div class="content">
    <div class="image-container">
        <img src="{{imageUrl}}" alt="{{name}}" onerror="this.src='{{imageError}}'" class="image"></img>    
    </div>
    <div class="description">
        {{{attributes.description}}}    
    </div>
    
</div>