<div class="header-bar">
    <h2 class="name">{{name}}</h2>
    <i class="fa bbm-button">X</i>
</div>

<div class="content">
    <img src="{{imageUrl}}" alt="{{name}}" onerror="this.src='{{imageError}}'" class="image"></img>
    <div class="description">
        {{{attributes.description}}}    
    </div>
    
</div>