{{#fixtures}}
    <tr>
        <td>{{name}}</td>
        <td>{{lastUpdated}}</td>
        <td>{{typeName}}</td>
        <td><a href="{{../store_url}}/{{programStoreUuid}}">{{storeName}}</a><br/>{{address}}</td>
        <td>{{problems}}</td>
    </tr>
{{/fixtures}}