<p class="name">{{name}}</p>
<img class="fixture-image" src="{{imageUrl}}" alt="{{name}}" onerror="this.src='{{imageError}}'"></img>

<div class="icon-row">
    <span class="total">{{total}}</span>
    <span class="stores"><i class="ic ic_store"></i>{{stores}}</span>
    <span class="problems red"><i class="ic fa fa-exclamation-circle"></i>{{matching}}</span>
</div>
