<div class="form-group clearfix">
    <label class="label" for="jobName">Name</label>
    <input class="input" type="text" value="{{name}}" name="name" id="jobName" placeholder="Enter Optional name here"/>

    <label for="role" class="label">Limit Job to Role: </label>
    <select name="role" id="role" class="input">
        <option value="">Anyone</option>
        {{#roles}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{key}}</option>
        {{/roles}}
    </select>

    <div class="form-group">
        <label for="edit-blackout-schemes" class="label">Blackout Schemes: </label>
        <select id="edit-blackout-schemes" name="blackoutSchemes" class="input" multiple data-placeholder="Assign Blackout Schemes">
            {{#each programBlackoutSchemes}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
</div>

<section id="tasks" class="form-group clearfix">
    <h3>Activities</h3>
    
    <div class="header pure-g">
        <p class="col-3-12">Type</p>
        <p class="col-3-12">Activity / Packet</p>
        <p class="col-1-12">Duration</p>
        <p class="col-1-12">Hourly Rate</p>
        <p class="col-1-12">Payable</p>
        <p class="col-1-12">Billable</p>
        <p class="col-1-12">Required</p>
        <p class="col-1-12"></p>
    </div>
    <div class="tasks-container"></div>
    <button class="btn add-task">Add Task</button>
    <div class="summary pure-g"></div>    
</section>






<div class="form-group">
    <label for="allowRescheduling" class="">Allow Job to be Rescheduled After Schedule Finalization?</label>
    <input type="checkbox" class="input-checkbox" name="allowRescheduling" id="allowRescheduling" {{#if allowRescheduling}}checked{{/if}}/>
</div>

<div class="form-group">
    <label for="jobTracked" class="">Enable Job Tracking (Special Project Tracking)?</label>
    <input type="checkbox" class="input-checkbox job-tracking" name="tracked" id="jobTracked" {{#tracked}}checked{{/tracked}}/>
</div>

<section id="jobTrackingText">
    <div class="form-group">
        <label for="jobTarget" class="">Completion Target (%)</label>
        <input type="number" class="input job-target" name="target" id="jobTarget" value="{{target}}" {{#unless tracked}}disabled{{/unless}}/>
    </div>
    <br>
    <div class="form-group">
        <label for="report" class="">Report</label>
        <select name="reportUUID" id="report" class="input job-report" {{#unless tracked}}disabled{{/unless}}>
            <option value="">--Select a Report--</option>
            {{#reports}}
                <option value="{{uuid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/reports}}
        </select>
    </div>
    <br><br>
    <div style="clear: both;">
        <p class="instruction"><span class="important">Note:</span> For now, any jobs we wish to track must have only one task and one frequency assigned to them. Or rather, only the first task's survey will be tracked, and the first frequency will be used for the start and end date of the tracking. We hope to change this in the future.</p>
        <label for="editor">Completion Instructions</label>
        <input type="hidden" name="completionInstructions" id="completionInstructions" value="{{completionInstructions}}"/>
        <div class="editor-container message-content">
            <div id="full-toolbar" class="toolbar ql-toolbar-container">
              <span title="Bold" class="ql-format-button ql-bold"></span>
              <span title="Italic" class="ql-format-button ql-italic"></span>
              <span title="Italic" class="ql-format-button ql-underline"></span>
              <span class="ql-format-separator"></span>
              <span title="Italic" class="ql-format-button ql-bullet"></span>
              <span title="Italic" class="ql-format-button ql-list"></span>
            </div>
            <div id="editor">
              <div></div>
            </div>
        </div>
    </div>
</section>
