<p class="info">If you leave the name blank, the group will use the name of the first Task (for now, this is a Survey). Furthermore, a Job must have at least one Task (Typically, there will be only one Task per Job).</p>

<label class="label" for="jobName">Name</label>
<input class="input" type="text" value="{{name}}" name="name" id="jobName" placeholder="Enter Optional name here"/>

<div class="form-group">
    <label for="jobTracked" class="">Enable Job Tracking (Special Project Tracking)?</label>
    <input type="checkbox" class="input-checkbox job-tracking" name="tracked" id="jobTracked" {{#tracked}}checked{{/tracked}}/>
</div>

<section id="jobTrackingText">
    <div class="form-group">
        <label for="jobTarget" class="">Completion Target (%)</label>
        <input type="number" class="input job-target" name="target" id="jobTarget" value="{{target}}" {{#unless tracked}}disabled{{/unless}}/>
    </div>
    <br>
    <div class="form-group">
        <label for="report" class="">Report</label>
        <select name="reportUUID" id="report" class="input job-report" {{#unless tracked}}disabled{{/unless}}>
            <option value="">--Select a Report--</option>
            {{#reports}}
                <option value="{{uuid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/reports}}
        </select>
    </div>
    <br><br>
    <div class="clear">
        <p class="instruction"><span class="important">Note:</span> For now, any jobs we wish to track must have only one task and one frequency assigned to them. Or rather, only the first task's survey will be tracked, and the first frequency will be used for the start and end date of the tracking. We hope to change this in the future.</p>
        <label for="editor">Completion Instructions</label>
        <input type="hidden" name="completionInstructions" id="completionInstructions" value="{{completionInstructions}}"/>
        <div class="editor-container message-content">
            <div id="full-toolbar" class="toolbar ql-toolbar-container">
              <span title="Bold" class="ql-format-button ql-bold"></span>
              <span title="Italic" class="ql-format-button ql-italic"></span>
              <span title="Italic" class="ql-format-button ql-underline"></span>
              <span class="ql-format-separator"></span>
              <span title="Italic" class="ql-format-button ql-bullet"></span>
              <span title="Italic" class="ql-format-button ql-list"></span>
            </div>
            <div id="editor">
              <div></div>
            </div>
        </div>
    </div>
</section>

<div class="form-group">
    <label for="role" class="label">Limit Job to Role: </label>
    <select name="role" id="role" class="input">
        <option value="">--No Limit on Role--</option>
        {{#roles}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{key}}</option>
        {{/roles}}
    </select>
</div>

<div class="tasks-container clear"></div>

<div class="form-group">
    <button class="btn add-task">Add Task</button>
</div>
<br>
<div class="form-group">
    <label for="edit-blackout-schemes" class="label">Blackout Schemes: </label>
    <select id="edit-blackout-schemes" name="blackoutSchemes" class="input" multiple data-placeholder="Assign Blackout Schemes">
        {{#each programBlackoutSchemes}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</div>

<div class="form-group">
    <label for="allowRescheduling" class="">Allow Job to be Rescheduled After Schedule Finalization?</label>
    <input type="checkbox" class="input-checkbox" name="allowRescheduling" id="allowRescheduling" {{#if allowRescheduling}}checked{{/if}}/>
</div>
