<div class="form-section">
    <div class="form-group">
        <label class="label" for="jobName">Name</label>
        <input class="input" type="text" value="{{name}}" name="name" id="jobName" placeholder="Enter Optional name here"/>    
    </div>
    
    <div class="form-group">
        <label for="role" class="label">Role</label>
        <select name="role" id="role" class="input grow">
            <option value="">Anyone</option>
            {{#roles}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{key}}</option>
            {{/roles}}
        </select>    
    </div>
    

    <div class="form-group">
        <label for="edit-blackout-schemes" class="label">Blackout Schemes</label>
        <select id="edit-blackout-schemes" name="blackoutSchemes" class="input no-fill grow" multiple data-placeholder="Assign Blackout Schemes">
            {{#each programBlackoutSchemes}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>    
    </div>
</div>

<section id="tasks" class="form-section clearfix">
    <h3>Activities</h3>
    <div class="header pure-g">
        <p class="col-3-12 header-item">Type</p>
        <p class="col-3-12 header-item">Activity / Packet</p>
        <p class="col-1-12 header-item">Duration</p>
        <p class="col-1-12 header-item cell right">Hourly Rate</p>
        <p class="col-1-12 header-item check-col">Payable</p>
        <p class="col-1-12 header-item check-col">Billable</p>
        <p class="col-1-12 header-item check-col">Required</p>
        <p class="col-1-12 header-item check-col">Actions</p>
    </div>
    <div class="tasks-container"></div>
    <div class="btn-row pure-g">
        <div class="col-11-12"></div>
        <button class="btn primary add-task col-1-12"><i class="fa fa-plus"></i>&nbsp;Add</button>    
    </div>
    
    <div class="summary pure-g" id="jobSummary"></div>    
</section>


<div class="form-section">
    <div class="form-group">
        
        <input type="checkbox" class="input-checkbox" name="allowRescheduling" id="allowRescheduling" {{#if allowRescheduling}}checked{{/if}}/>    
        <label for="allowRescheduling" class="">Allow Job rescheduling after schedule finalization.</label>
    </div>
    
    <div class="form-group">
        <input type="checkbox" class="input-checkbox job-tracking" name="tracked" id="jobTracked" {{#tracked}}checked{{/tracked}}/>
        <label for="jobTracked" class="">Special Project Tracking.</label>
    </div>
</div>

<section id="jobTrackingText" class="form-section">
    <div class="form-group">
        <label for="jobTarget" class="">Completion Target (%)</label>
        <input type="number" class="input job-target" name="target" id="jobTarget" value="{{target}}" {{#unless tracked}}disabled{{/unless}}/>
    </div>
    <br>
    <div class="form-group">
        <label for="report" class="">Report</label>
        <select name="reportUUID" id="report" class="input job-report" {{#unless tracked}}disabled{{/unless}}>
            <option value="">--Select a Report--</option>
            {{#reports}}
                <option value="{{uuid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/reports}}
        </select>
    </div>
    <br><br>
    <div class="clear">
        <p class="instruction"><span class="important">Note:</span> For now, any jobs we wish to track must have only one task and one frequency assigned to them. Or rather, only the first task's survey will be tracked, and the first frequency will be used for the start and end date of the tracking. We hope to change this in the future.</p>
        <label for="editor">Completion Instructions</label>
        <input type="hidden" name="completionInstructions" id="completionInstructions" value="{{completionInstructions}}"/>
        <div class="editor-container message-content">
            <div id="full-toolbar" class="toolbar ql-toolbar-container">
              <span title="Bold" class="ql-format-button ql-bold"></span>
              <span title="Italic" class="ql-format-button ql-italic"></span>
              <span title="Italic" class="ql-format-button ql-underline"></span>
              <span class="ql-format-separator"></span>
              <span title="Italic" class="ql-format-button ql-bullet"></span>
              <span title="Italic" class="ql-format-button ql-list"></span>
            </div>
            <div id="editor">
              <div></div>
            </div>
        </div>
    </div>
</section>
