<div class="header pure-g">
	<h3 class="col-6-12"><a href="{{editUrl}}">{{name}}</a>{{#role}} ({{this}} only){{/role}}</h3>
	<h3 class="col-2-12">Duration<br/>({{displayDuration}})</h3>
	<h3 class="col-2-12">Payment Rate<br/>(${{displayTotalPayment}})</h3>
	<h3 class="col-2-12">Required?</h3>

</div>

<div class="tasks-container"></div>

<div class="frequencies-container pure-g">
   {{#frequencySummaries}}
        <p class="frequency-row col-10-12"><a href="jobs/{{../id}}/schedule/{{@index}}">{{count}} stores</a> with: {{#frequencies}}{{monthlyVisits}} monthly visits between {{begin}} -> {{end}} {{/frequencies}}</p>
        <a class="btn primary delete-frequency col-1-12" href="jobs/{{../id}}/schedule/{{@index}}">Delete</a>
    {{else}}
        <p class="frequency-row info">There are no frequencies or store assignments for this Job. Click 'Assign New Frequency' to get started.</p>
    {{/frequencySummaries}}
    <div class="frequency-row col-1-1 static"><a class="btn btn-primary primary" href="{{createScheduleUrl}}">Assign New Frequency</a></div> 
</div>


