<div class="header pure-g">
	<h3 class="col-6-12"><a href="{{editUrl}}">{{name}}</a>{{#role}} ({{this}} only){{/role}} {{#tracked}}( Tracked ){{/tracked}}</h3>
	<h3 class="col-2-12">Duration<br/>({{displayDuration}})</h3>
	<h3 class="col-2-12">Payment Rate<br/>(${{displayTotalPayment}})</h3>
	<h3 class="col-2-12">Required?</h3>

</div>

<div class="tasks-container"></div>

<div class="frequencies-container pure-g">
    <h3 class="col-1-1 frequency-row">Schedules:</h3>
    <table class="col-1-1">
        <colgroup>
            
        </colgroup>
        
        <thead>
            <th>Stores</th>
            {{#scheduleDates}}
                <th>{{short}}</th>
            {{/scheduleDates}}
        </thead>
        <tbody>
            {{#scheduleSummaries}}
                <tr class="schedule-row">
                    <td><a href="{{../createScheduleUrl}}/{{id}}">{{programStoreCount}}</a></td>
                    {{#monthlyVisits}}
                        <td>{{visits}}</td>
                    {{/monthlyVisits}}
                </tr>
                
            {{else}}
                <tr><td colspan="14" class="info">There are no Schedules or store assignments for this Job. Click 'Create New Schedule' to get started.</td></tr>
            {{/scheduleSummaries}}
        </tbody>
    </table>
    <div class="frequency-row col-1-1 static"><a class="btn btn-primary primary" href="{{createScheduleUrl}}">Create New Schedule</a></div> 
</div>


