<div class="col-3-12">
    {{#each types}}
        <p>{{this}} {{@key}}</p>
    {{/each}}
</div>
<div class="col-3-12"></div>
<p class="col-1-12">{{expectedDuration}}</p>
<p class="col-1-12">{{expectedPayment}}</p>
<p class="col-1-12">{{payable}}</p>
<p class="col-1-12">{{billable}}</p>
<p class="col-1-12">{{required}}</p>
