<td>{{label}}</td>
<td>{{formatSalesDollarValue salesInCents}}</td>
<td>{{formatSalesDollarValue salesInCentsLY}}</td>
<td>
    <span class="percentage-change {{ percentageChangeClass salesChange }}">
        <i class="ic {{ percentageChangeIcon salesChange }}"></i> {{formatPercentageChange salesChange}}
    </span>
</td>
<td>
    <span class="percentage-change {{ percentageChangeClass accountSalesChange }}">
        <i class="ic {{ percentageChangeIcon accountSalesChange }}"></i> {{formatPercentageChange accountSalesChange}}
    </span>
</td>
<td>{{formatSalesValue unitsSold}}</td>
<td>{{formatSalesValue unitsSoldLY}}</td>
<td>{{formatSalesValue unitsOnHand}}</td>
<td>{{formatSalesValue unitsOnHandLY}}</td>
<td>
    <span class="percentage-change {{ percentageChangeClass unitsOnHandChange }}">
        {{formatPercentageChange unitsOnHandChange}}
    </span>
</td>