<div class="col-2-12 breakdown-label">{{label}}</div>
<div class="col-1-12">{{salesInCents}}</div>
<div class="col-1-12">{{salesInCentsLY}}</div>
<div class="col-1-12">{{salesChange}}</div>
<div class="col-1-12"></div>
<div class="col-1-12">{{unitsSold}}</div>
<div class="col-1-12">{{unitsSoleLY}}</div>
<div class="col-1-12">{{unitsOnHand}}</div>
<div class="col-1-12">{{unitsOnHandLY}}</div>
<div class="col-1-12">{{unitsOnHandChange}}</div>