<section class="section data-section sales-overview">
    <div class="pure-g">
        <h2 class="col-1-2 overview-header">Overview</h2>
        <span class="col-1-2 subnav">
            <a href="#" class="prev-quarter"> < <span class="hidden-md">Previous Quarter</span></a>
            Q{{current_time_period}} - {{current_year}}
            <a href="#" class="next-quarter"><span class="hidden-md">Next Quarter</span> > </a>
        </span>
        <span class="sub-header col-1-1">Compared to this period last year through {{formatDateToLongDate mostRecent}}</span>
        <div class="col-md-1 col-1-4">
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1">{{formatSalesDollarValue accountSalesInCents}}</h2>
                <p class="col-md-1-2 col-1">Total $ Account Sales</p>
            </div>
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1 percentage-change overview-qtd {{ percentageChangeClass accountSalesChange }}">
                    <i class="fa {{ percentageChangeIcon accountSalesChange }}"></i> {{formatPercentageChange accountSalesChange}}
                </h2>
            </div>
        </div>
        <div class="col-md-1-1 col-1-4">
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1">{{formatSalesDollarValue salesInCents}}</h2>
                <p class="col-md-1-2 col-1">Total $ Store Sales</p>
            </div>
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1 percentage-change overview-qtd {{ percentageChangeClass salesChange }}">
                    <i class="fa {{ percentageChangeIcon salesChange }}"></i> {{formatPercentageChange salesChange}}
                </h2>
            </div>
        </div>
        <div class="col-md-1-1 col-1-4">
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1">{{formatSalesValue unitsSold}}</h2>
                <p class="col-md-1-2 col-1">Units Sold</p>
            </div>
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1 percentage-change overview-qtd {{ percentageChangeClass unitsSoldChange }}">
                    <i class="fa {{ percentageChangeIcon unitsSoldChange }}"></i> {{formatPercentageChange unitsSoldChange}}
                </h2>
            </div>
        </div>
        <div class="col-md-1-1 col-1-4">
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1">{{formatSalesValue unitsOnHand}}</h2>
                <p class="col-md-1-2 col-1">Units OH</p>
            </div>
            <div class="pure-g overview-data">
                <h2 class="col-md-1-2 col-1 percentage-change overview-qtd {{ percentageChangeClass unitsOnHandChange }}">
                    <i class="fa {{ percentageChangeIcon unitsOnHandChange }}"></i> {{formatPercentageChange unitsOnHandChange}}
                </h2>
            </div>
        </div>
    </div>
</section>
