<p class="col-1-5">{{ name }}</p>
<p class="col-1-5">{{ stores_count }}</p>
<p class="col-1-5">{{ stores_not_visited }}</p>
<p class="col-1-5">{{ stores_with_open_alerts }}</p>
<p class="col-1-5">{{ percent_of_stores_complete }}%</p>
