<p class="col-1-6"><a href="{{ report.link }}">{{ name }}</a></p>
<p class="col-1-6">{{ customer_stores_count }}</p>
<p class="col-1-6">{{ percent_of_stores_complete }}%</p>
<p class="col-1-6">{{ start_date }}</p>
<p class="col-1-6">{{ end_date }}</p>
<p class="col-1-6">{{ status }}</p>
