<div class="section data-section special-project-report">
    <div class="pure-g">
        <div class="col-1-1 special-project-header">
            <h2>{{ name }}</h2>
        </div>
        <div class="col-1-1 special-project-header last">
            <span>{{ stores_count }} stores</span>
            {{#if report}}
                <span class="pull-right"><a href="{{report.links.self}}" target="_blank">View Report</a></span>
            {{/if}}
        </div>
        <div class="col-1-1 special-project-overview">
            <div class="chart"></div>
            <h2>{{ percent_of_stores_visited }}% Visited</h2>
            <h3>
                {{#if target}}
                    Target Visitation: {{target}}%
                {{else}}
                    &nbsp
                {{/if}}
            </h3>
        </div>
        <div class="col-1-1 special-project-breakdown">
            <div class="pure-g">
                <div class="col-1-4 special-project-breakdown-item">
                    <div><a href="{{links.stores}}?status[]=Completed">{{ stores_completed }} Stores</a></div>
                    <div>Completed</div>
                </div>
                <div class="col-1-4 special-project-breakdown-item">
                    <div><a href="{{links.stores}}?status[]=Visited, But Incomplete">{{ stores_visited_incompleted }} Stores</a></div>
                    <div>Incomplete</div>
                </div>
                <div class="col-1-4 special-project-breakdown-item">
                    <div><a href="{{links.stores}}?status[]=Not Visited">{{ stores_not_visited }} Stores</a></div>
                    <div>Not Visited</div>
                </div>
                <div class="col-1-4 special-project-breakdown-item">
                    <div><a href="{{links.stores}}?status[]=Revisit Needed">{{ stores_with_revisit_needed }} Stores</a></div>
                    <div>Need Revisit</div>
                </div>
            </div>
        </div>
        <div class="col-1-1 special-project-latest-checkin">
            <div>
                Most Recent Visit:
                {{#if latest_checkin}}
                    <a href="{{latest_checkin.links.report}}" target="_blank">{{latest_checkin.date}}</a>
                {{else}}
                    N/A
                {{/if}}
            </div>
        </div>
    </div>
</div>