<div class="checkin">
    <h3 class="pull-right"><a href="{{link}}">View Report</a></h3>
    <h3>{{created_at}}
        {{#if user}}
            by
        {{/if}}
        <a href="{{user_link}}">{{user}}</a>
    </h3>

    {{#each info}}
        <div class="info pure-g">
            {{#if this.title}}
                <div class="task col-1">{{ this.title }}</div>
            {{/if}}
            {{#if this.label}}
            <div class="col-1-3">{{ this.label }}: </div>
            {{/if}}
            <div class="col-2-3">{{this.content}}</div>
        </div>
    {{/each}}
</div>


