<div class="kpi {{displayDirection}}">
  <div class="kpi-image {{name}}"></div>

  <div class="metrics">
    {{#each data}}
      <div class="metric">
        <span class="metric-figure">
          {{this.prefix}}{{format_number this.value}}{{this.postfix}}
        </span>
        <span class="metric-label">
          {{this.label}}
        </span>
      </div>
    {{/each}}
  </div>
</div>
