<div class="kpi column {{#if reverse}}reverse{{/if}}">

  {{#if icon}}
    <div class="metric-infograph">
      <i class="{{icon}}"></i>
    </div>
  {{else}}
    <div class="kpi-image customers-engaged"></div>
  {{/if}}

  <div class="metrics">
      <div class="metric">
        {{#if url}}
          <a class="metric-figure link" href="#">{{data.total}}</a>
        {{else}}
          <span class="metric-figure">
            {{format_number data.total}}
          </span>
        {{/if}}

        <span class="metric-label">
          {{label}}
        </span>
      </div>
  </div>
</div>
