<div class="widget small-padding resolution-row {{config.widget_class}}"><div class="col-1-4">{{#if show_view_list}}<a href="{{report_view_list_link this}}">{{/if}}{{title}}{{#if show_view_list}}</a>{{/if}}</div><div class="col-1-4">{{results.occurrences}}</div><div class="col-1-4">{{results.resolutions}}</div><div class="col-1-4">{{results.remaining}}</div></div>

