<a href="{{link}}" class="nav-item {{#if active}}active{{/if}} {{className}}" {{#if bypass}}data-bypass="{{bypass}}"{{/if}}>
    <i class="ic {{icon}}"></i>
    <span class="link">{{title}}</span>
    {{#if icon2}}
        <i class="ic {{icon2}}"></i>
    {{/if}}
</a>