<h1 class="subheader">Create Application</h1>
<h2>Step 1 of 2</h2>
{{>upload_form}}


<form action="/program/{{programId}}/application/save" class="profile-form" method="post">
    {{> profile_image}}

    {{> basic_information}}

    {{> university}}

    <div class="card">
        <div class="header">Where you currently live?

        <span class="tooltip">
            <span class="visible-xs"><i class="fa fa-info-circle"></i></span> <span class="hidden-xs">Why are we asking this?</span>
        </span>

            <div class="tip">
                This allows us to match you with current opportunities in your geographic location.
            </div>
        </div>


        <div class="body compressed">
            <label></label>
            <input type="text" class="low-margin" name="residentialAddress.city" placeholder="City"
                   value="{{person.residentialAddress.city}}" data-rule-required="true"/>
            <select name="residentialAddress.state" data-rule-required="true">
                <option value="">Select State/Province</option>
                {{#each states}}
                    {{#select ../person.residentialAddress.state}}
                        <option value="{{this.abbr}}">{{this.name}}</option>
                    {{/select}}
                {{/each}}
            </select>
        </div>
    </div>
    {{> about_images}}

    {{> interests_input}}

    {{> owns_car}}

    <div class="card">
        <div class="body">
            <label for="heardAboutUs">How did you hear about us?</label>

            <select name="heardAboutUs" id="heardAboutUs" data-rule-required="true">
                <option value="">Select</option>
                {{#each choices}}
                    {{#select ../person.heardAboutUs}}
                        <option value="{{this}}">{{this}}</option>
                    {{/select}}
                {{/each}}

            </select>
        </div>
    </div>

    <div class="card">
        <div class="body">
            <label for="brandAmbassador">Have you been a brand ambassador or represented a brand before?</label>
            <textarea name="brandAmbassador" id="brandAmbassador" cols="30" rows="10"
                      class="expanding-wrapper double" data-rule-required="true">{{person.brandAmbassador}}</textarea>
        </div>
    </div>

    <div class="card">

        <div class="body">
            <label for="retailExperience">Do you have any experience working in retail?</label>
            <textarea name="retailExperience" id="retailExperience" cols="30" rows="10"
                      class="expanding-wrapper double" data-rule-required="true">{{person.retailExperience}}</textarea>
        </div>
    </div>

    <div class="button-row">
        <a href="{{cancelUrl}}" class="btn inverse">Cancel</a>
        <input type="submit" class="btn primary submit" value="Continue" data-input="false"/>
    </div>

    <br/>
</form>

