<div class="body task clickable right-col">

    <div class="details">
        <div>{{type}}</div>
    {{#if topics}}
        <div>{{topics}}</div>
        <div>{{name}}</div>
    {{else}}
        <div>{{name}}</div>
        <div></div>
    {{/if}}
    </div>

    <div class="indicator">
        <button class="btn primary hide">
            <i class="ic ic_remove"></i> <span class="hidden-xs">Remove</span>
        </button>
    </div>

</div>
<div class="divider"></div>


