<tr>
  <td>{{visit_date}}</td>
  <td>
    <a href="{{links.store_visited}}">{{store_name}}</a>,
    <span>{{store_address}}</span>
  </td>
  <td><a href="{{links.reported_by}}">{{reported_by}}</a></td>
  <td><a href="{{links.self}}">View</a></td>
