<h2>Details for Checkin at {{locationName}}</h2>
<p class="address">{{address}}</p>
<p>Agent: {{person.name}}({{person.paypalEmail}})</p>
<p>Payment <span class="key-info">${{payment}}</span> for <span class="key-info">{{units}}</span> minutes at <span class="key-info">${{rate}}/hr</span></p>

<a class='btn primary'>Adjust duration:</a>


<h2>Comments:</h2>