<div class="header-bar">
    <h2 class="name">Assignment History</h2>
    <span class="close-container"><i class="fa ic ic_x bbm-button"></i></span>
</div>

<div class="content">
    {{#each assignments}}
        <div class="assignment-record">
            <div>
                <div>
                    Assignee: {{this.assignee}}
                    {{#if this.assignee_email}}
                        - {{this.assignee_email}}
                    {{/if}}
                </div>
                <div>
                    Assigned By: {{this.changed_by}}
                    {{#if this.changed_by_email}}
                        - {{this.changed_by_email}}
                    {{/if}}
                </div>
                <div>Assigned On: {{this.changed_on}}</div>
            </div>
        </div>
    {{/each}}
</div>