<form class="job-request-form">
    <section class="section">
        <div class="store-list-container">
            <h4>Store(s)</h4>
            <div class="store-list"></div>
        </div>

        <div class="form-group">
            <label>Visit Type</label>
            <select class="survey_uuid" name="survey_uuid" required="required">
                {{#each surveys}}
                    <option name="survey_uuid" class="survey_uuid" value="{{this.uuid}}">{{this.title}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>Duration</label>
            <select name="duration" class="duration">
                <option value="">Select Duration</option>
                <option value="60">1 Hour</option>
                <option value="120">2 Hours</option>
                <option value="180">3 Hours</option>
                <option value="240">4 Hours</option>
                <option value="300">5 Hours</option>
                <option value="360">6 Hours</option>
                <option value="420">7 Hours</option>
                <option value="480">8 Hours</option>
                <option value="540">9 Hours</option>
                <option value="600">10 Hours</option>
            </select>
        </div>

        <div class="form-group">
            <label class="inline-label">
                <input type="checkbox" class="recommend_start_time" />
                Recommended Start Time
            </label>
        </div>

        <div class="start-time-container hide">
            <div class="form-group">
                <label>Start Time</label>
                <input type="text" name="start_time" class="start_time" />
            </div>

            <div class="form-group">
                <label>Timezone</label>
                <select name="timezone" class="timezone">
                    <option value="">Select timezone</option>
                    {{#each timezones}}
                        <option value="{{this.abbr}}">(GMT{{this.offset}}) {{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Date Range <span>(To be performed on or within selected dates)</span></label>
            <div class="date-range-container"></div>
        </div>

        <div class="form-group">
            <label>Featured Products <span>(Standard Vega demos feature one product)</span></label>
            <select class="survey_topic_uuids" name="survey_topic_uuids" multiple="multiple">
                {{#each surveyTopics}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>Notes</label>
            <textarea class="notes" name="notes"></textarea>
        </div>
    </section>

    <button type="submit" class="btn primary submit-job-request">Save</button>
    <a href="#" class="cancel-job-request light underline">Cancel</a>
</form>