<td><a href="/stores/{{storeUUID}}" title="View Store">{{name}}</a></td>
<td>{{address}}</td>
<td>{{latitude}}</td>
<td>{{longitude}}</td>
<td><button class="remove btn primary"><i class="fa ic ic_x"></i></button></td>