<div class="body right-col clickable">
    <div>
    {{#if title}}
        <h3>{{dateFormat title "dddd, MMMM D, YYYY"}}</h3>
        <ul>
            {{#each collection}}
                <li>{{job.name}}</li>
            {{/each}}
        </ul>
    {{else}}
        {{#each collection}}
            <h3>{{job.name}}</h3>
        {{/each}}
    {{/if}}
    </div>

    <div class="indicator">
        <form accept-charset="UTF-8" method="post">
            <input name="program_store_id" type="hidden" value="{{collection.0.program_store_id}}">
            <input name="date" type="hidden" value="{{title}}">
            <input name="authenticity_token" value="{{collection.0.auth_token}}" type="hidden">
            <!-- Geolocation fields -->
            <input type="hidden" name="exif[latitude]" />
            <input type="hidden" name="exif[longitude]" />
            <input type="hidden" name="exif[accuracy]" />
            <input type="hidden" name="exif[altitude]" />
            <input type="hidden" name="exif[altitudeAccuracy]" />
            <input type="hidden" name="exif[speed]" />
            <input type="hidden" name="exif[timestamp]" />
            <button class="btn primary">
                <i class="ic ic_visit"></i> <span class="hidden-xs">Start Visit</span>
            </button>
        </form>
    </div>
</div>
<div class="divider"></div>