<div class="body clickable expander right-col closed">
    <div>
        <h3>{{accountName}} {{storeTag}}</h3>
        <div class="address">{{address}}</div>
        <div class="expansions">
            <a href="/programs/Merchandising/stores/{{id}}/activity" target="_blank">View Recent Activity</a>
            {{#if canViewSalesData}}
              | <a href="/programs/Merchandising/stores/{{id}}/sales" target="_blank">View Store Sales</a>
            {{/if}}
        </div>
    </div>
    <div class="indicator">
        <i class="ic ic_down"></i>
    </div>
</div>
<div class="divider"></div>
<div class="subsection expansions">
    <div class="card">
    {{#if jobs.0.date}}
        <div class="header">Visit Activities</div>
    {{/if}}
    </div>
</div>
