<td><a href="{{profile.link}}">{{name}}</a>, {{location}}</td>
<td>{{dateAdded}}</td>
<td>
    <button class="btn default" onclick="location.href='{{report.link}}'">
        <i class="ic fa ic_report-16"></i>
    </button>
    <button class="btn default" onclick="location.href='{{report.link}}'">
        <i class="ic fa ic_check"></i>
    </button>

</td>
