<p class="col-7-12 col-md-9	-12"><a href="{{profile.link}}" class="store-profile-link">{{name}},</a> {{location}}</p>
<p class="col-4-12 date-added">{{dateAdded}}</p>
<div class="col-1-12 col-md-3-12">
	
        <a href="{{alert.links.self}}" class="btn primary expand"><i class="ic fa ic_check"></i><span class="visible-xs">View Report</span></a>
    
        <a href="{{report.link}}" class="btn primary"><i class="ic fa ic_report-16"></i><span class="visible-xs">Resolve Alert</span></a>
    
</div>

{{> 'alert_details_empty_row'}}

