<div class="section">
    Hello, world!<br>
    TODO Number of stores<br>
    {{numberOfStoresWithFixtures}}<br>
    {{averageNumberFixturesPerStore}}<br>
    {{numberOfFixtureTypes}}<br>
    {{numberOfFixtures}}<br>
    {{numberOfFixturesWithProblems}}
</div>