<div class="holder">
    <div class="image">
        {{#if source}}
            <img src="{{source}}" alt="Image">
        {{else}}
            {{#if temp_location}}
                <img src="{{temp_location}}" alt="Image">
            {{/if}}
        {{/if}}
    </div>
    <div class="delete">
        <button class="btn primary"><i class="ic ic_x"></i><span>Delete Image</span></button>
    </div>
    <div class="description">
        <label>Description:</label>
        <input type="text" class="image_label" name="{{image_type}}_images[][label]" value="{{label}}">
    </div>
    <input type="hidden" class="image_id" name="{{image_type}}_images[][id]" value="{{id}}">
    <input type="hidden" class="image_temp_location" name="{{image_type}}_images[][temp_location]" value="{{temp_location}}">
</div>
