<div class="widget small-padding {{config.widget_class}}">
    <div class="leading-dots leading-row">
        <span>{{title}}</span>
        <span>{{config.prepend_count}}{{results}}{{config.append_count}}</span>
    </div>
</div>