<div class="widget {{config.widget_class}}">
    <div class="pull-left">
        <p>{{title}}</p>
        {{#if show_view_list}}
            <a href="#" class="breakdown-link" tag="View Breakdown">View Breakdown</a>
        {{/if}}
        {{#if results.list}}
            {{#each results.list}}
                <p>{{index_inc @index}}. {{this}}</p>
            {{/each}}
        {{else}}
            <p>N/A</p>
        {{/if}}
    </div>
</div>