<div class="widget {{config.widget_class}}">
    <div class="chart quadrant">
        <p>{{title}}</p>
        {{#if show_view_list}}
            <a href="#" class="breakdown-link" tag="View Breakdown" target="_blank">Breakdown</a>
        {{/if}}
        <div>
            <div class="y-axis-label-top">{{config.chartLabels.top}}</div>
            <div>
                <div class="x-axis-label-left">
                    <div>
                        <div class="l_content">
                            <div class="l_table">
                                <div class="l_table-cell">
                                    <div>{{config.chartLabels.left}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="x-axis-label-right">
                    <div>
                        <div class="l_content">
                            <div class="l_table">
                                <div class="l_table-cell">
                                    <div>{{config.chartLabels.right}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chart">
                {{#each results}}
                    <div class="square" style="background-color: {{color}}">
                        <div class="l_content">
                            <div class="l_table">
                                <div class="l_table-cell">
                                    <h2>{{value}}%</h2>
                                    <div>{{count}} {{label}}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                {{/each}}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="y-axis-label-bottom">{{config.chartLabels.bottom}}</div>
        </div>
    </div>
</div>