<div class="widget {{config.widget_class}}">
    <table class="chart range">
        <thead>
            <th colspan="2">{{title}}
            {{#if show_view_list}}
                <p><a href="#" class="breakdown-link" tag="View Breakdown">View Breakdown</a></p>
            {{/if}}
            </th>
        </thead>
        {{#each results}}
            <tr>
                <td>{{this.label}}</td>
                <td>{{../config.prefix}}{{this.value}}{{../config.postfix}}</td>
            </tr>
        {{/each}}
    </table>

</div>
