<div class="widget vbar {{config.widget_class}}" style="display: none;">
    {{#if title}}
      <p>{{{title}}}</p>
    {{/if}}

    <div class="vertical-bar pure-g column">
      <div class="col-md-1 col-1-3 {{#if chartIcon}}with-icon{{/if}}">
        <div class="chart vertical-bar"></div>
        {{#if chartIcon}}
          <i class="{{chartIcon}}"></i>
        {{/if}}
      </div>

      <div class="col-md-1 col-1-2 legend">
          {{#each results.legend.items}}
              <div class="legend-item" data-chart-id="{{label}}">
                  <span class="legend-box" style="background-color: {{color}}"></span>
                  {{label}}
              </div>
          {{/each}}
      </div>
    </div>
</div>
