{{>upload_form}}

<form action="{{saveUrl}}" class="profile-form" method="post">
    {{> profile_image}}
    {{> basic_information}}
    {{> university}}
    {{> paypal}}
    {{> residential_address}}
    {{> shipping_address}}
    {{> interests_input}}
    {{> about_images}}
    {{> shirt_shoe_form}}
    {{> owns_car}}
    {{> notifications}}

    <input type="hidden" name="referer" value="{{referer}}"/>
    <input type="hidden" name="programUUID" value="{{programUUID}}"/>
    <input type="hidden" name="validate" value="{{validate}}"/>

    <div class="button-row">
        <a href="{{referer}}" class="btn inverse">Cancel</a>
        <input type="submit" class="btn primary submit" value="Save" data-input="false"/>
    </div>
</form>

