<div class="pure-g scheduled-visit-row">
	<div class="col-1-12 scheduled-visit-cell">{{user_name}}</div>
    <div class="col-1-12 scheduled-visit-cell">{{survey_title}}</div>
    <div class="col-2-12 scheduled-visit-cell">{{survey_topics}}</div>
	<div class="col-1-12 scheduled-visit-cell">{{localizedUTCDate start_time}}</div>
    <div class="col-1-12 scheduled-visit-cell">{{timezone}}</div>
    <div class="col-1-12 scheduled-visit-cell">{{duration}} min</div>
    <div class="col-2-12 scheduled-visit-cell">{{notes}}</div>
    <div class="col-3-12 scheduled-visit-cell">{{schedulable_ranges}}</div>
</div>
