<td><a href="{{details_url}}">View</a></td>
<td>{{store_name}}</td>
<td>{{store_address}}</td>
<td>{{requested_by}}</td>
<td>{{visit_type}}</td>
<td>{{duration}} hours</td>
<td>
{{#if assignee_id}}
  <a href="{{assignee_profile_url}}" target="_blank">{{assignee_name}}</a>
{{/if}}
</td>
<td>{{date_scheduled}}</td>
<td>{{date_completed}}</td>
<td>{{earliest_date}}</td>
<td>{{latest_date}}</td>
<td>{{start_time}}</td>
