<div class="pure-g scheduled-visit-row">
    <div class="col-1-12 scheduled-visit-cell"><a href="{{details_url}}">Review</a></div>
    <div class="col-2-12 scheduled-visit-cell">
        <a href="{{program_store_link}}" target="_blank">
            {{store_name}}
        </a>
    </div>
    <div class="col-2-12 scheduled-visit-cell">{{store_address}}</div>
	<div class="col-2-12 scheduled-visit-cell">{{requested_by}}</div>
    <div class="col-2-12 scheduled-visit-cell">{{visit_type}}</div>
    <div class="col-2-12 scheduled-visit-cell">{{visit_details}}</div>
    <div class="col-1-12 scheduled-visit-cell">{{duration}} min</div>
</div>
