<section class="sales-widget">
  {{#if message}}
    <p class="text">{{message}}</p>
  {{else}}
    <p class="text">QTD $ Sales: <span class="percentage-change {{ percentageChangeClass salesChange }}"><i class="ic {{percentageChangeIcon salesChange }}"></i> {{formatPercentageChange salesChange}}</span> {{#if showLabel}} From LY{{/if}}</p>
  {{/if}}
  <a class="details" href="{{salesUrl}}">DETAILS</a>
</section>    