<section class="sales-widget">
  <div class="text col-2-3" style="display: inline;">
  {{#if message}}
  <span><i class="sales-message">
    {{message}}
    </i>
   </span>
  {{else}}
    QTD $ Sales:
    <span class="sales-button">
        <a href={{salesUrl}} class="percentage-change {{ percentageChangeClass salesChange }}">
            <i class="fa {{percentageChangeIcon salesChange }} change-icon"></i>
            {{formatPercentageChange salesChange}}
        </a>
    </span>
  {{/if}}
  </div>
</section>