<section class="
sales-widget pure-g" style="line-height: 2.25em;float: right;display: inline-block;">
  <p class="text col-2-3" style="display: inline;">
  {{#if message}}
    {{message}}
  {{else}}
    QTD $ Sales: <a href={{salesUrl}} class="percentage-change {{ percentageChangeClass salesChange }}"><i class="ic {{percentageChangeIcon salesChange }}"></i> {{formatPercentageChange salesChange}}</a>
  {{/if}}
  </p>
</section>