<div class="activity-reports">
  <div class="activity-reports-rollup">
    <div class="col-1-6 activity-reports-rollup-header">
      <button class="fa fa-minus-square activity-reports-toggle" data-toggle-open=true></button>
      <span>Activity Report</span>
    </div>
    <div class="col-4-5">
      <div class="metrics">
        {{#each rollups}}
          <div class="metric">
            {{#if this.icon}}
              <i class="metric-icon {{this.icon}}"></i>
            {{/if}}
            {{#if this.image}}
              <div class="metric-icon {{this.image}}"></div>
            {{/if}}
            {{#if_gt this.value 0}}
              <a class="metric-figure link" href="{{this.href}}">
                {{format_number this.value}}
              </a>
            {{else}}
              <span class="metric-figure empty">0</span>
            {{/if_gt}}
            <span class="metric-label">{{this.label}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="activity-reports-surveys">
  </div>
</div>
