{{#each surveys}}
  <div class="activity-reports-surveys-row">
    <div class="col-1-6 activity-reports-surveys-row-header">
      <a href="{{this.href}}">{{this.label}}</a>
    </div>
    <div class="col-4-5">
      <div class="metrics">
        {{#each this.metrics}}
          <div class="metric">
            {{#if_gt this.value 0}}
              <a class="activity-reports-surveys-row-value" href="{{this.href}}">
                {{this.value}}
              </a>
            {{else}}
              <span class="activity-reports-surveys-row-value-empty">{{this.value}}</span>
            {{/if_gt}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}
