<div>{{storeName}}: {{street}} {{city}}, {{state}}</div>
<b>{{dateScheduled}}</b>
    <input type="hidden" class="visit" value="{{id}}"/>
    <input type="text" value="{{dateScheduled}}" style="display: none;"/>
