<div class="col-6-12 col-sm-7-12" xmlns="http://www.w3.org/1999/html">
    <p class="visit-data bold">{{storeName}}</p>
    <p class="visit-data">{{address}}</p>
    <p class="visit-data">{{jobDetails.name}}</p>
    {{#if canUnschedule}}
        <div><a href="#" class="unschedule">Unschedule Visit</a></div>
    {{/if}}
    {{#if canUnassign}}
        <div><a href="#" class='unassign'>Unassign Visit</a></div>
        <div><a href="#" class='remove'>Remove this store from this job</a></div>
    {{/if}}
</div>

{{#if showCompleted}}
    <div class="col-2-12">{{totalDuration}} mins</div>
    {{#if canConfirm}}
        {{#if isConfirmed}}
            <div class="col-3-12 hidden-xs">
                {{#if dateCompleted}}
                    <div class="">Completed on {{dateFormat dateCompleted 'l'}}</div>
                {{/if}}
                <div class=""><span class="confirmedVisit">Confirmed on {{dateFormat lastStatusChange 'l'}}<span class="instructions"></span></span></div>
            </div>
        {{else}}
            <div class="col-3-12 hidden-xs"><a href="#" class="visit-confirm-button">Confirmed With Location</a></div>
        {{/if}}
    {{else}}
        <div class="col-3-12 hidden-xs">Completed on {{dateFormat dateCompleted 'l'}}</div>
    {{/if}}
    <div class="col-1-12 col-sm-3-12 center">{{taskCount}} <span class="expand"></span></div>
{{else}}
    <div class="col-4-12">{{totalDuration}} mins</div>
    {{#if canConfirm}}
        {{#if isConfirmed}}
            <div class="col-3-12 hidden-xs">
                {{#if dateCompleted }}
                    <div class="">Completed on {{dateFormat dateCompleted 'l'}}</div>
                {{/if}}
                <div class=""><span class="confirmedVisit">Confirmed on {{dateFormat lastStatusChange 'l'}}<span class="instructions"></span></span></div>
            </div>
        {{else}}
            <div class="col-3-12 hidden-xs"><a href="#" class="visit-confirm-button">Confirmed With Location</a></div>
        {{/if}}
    {{else}}
        <div class="col-3-12 hidden-xs">Completed on {{dateCompleted dateCompleted 'l'}}</div>
    {{/if}}
    <div class="col-2-12 col-sm-3-12 center">{{taskCount}} <span class="expand"></span></div>
{{/if}}


{{> 'tasks'}}
