<div class="col-6-12 col-sm-7-12">
    <p class="bold">{{storeName}}</p>
    <p>{{address}}</p>
    <p>{{jobDetails.name}}</p>
    {{#if canUnschedule}}
        <div><a href="#" class="unschedule">Unschedule Visit</a></div>
    {{/if}}
    {{#if canUnassign}}
        <div><a href="#" class='unassign'>Unassign Visit</a></div>
        <div><a href="#" class='remove'>Remove this store from this job</a></div>
    {{/if}}
</div>

{{#if showCompleted}}
    <div class="col-2-12">{{totalDuration}} mins</div>
    <div class="col-3-12 hidden-xs">{{localizedUTCDate dateCompleted}}</div>
    <div class="col-1-12 col-sm-3-12 center">{{taskCount}} <span class="expand"></span></div>
{{else}}
    <div class="col-4-12">{{totalDuration}} mins</div>
    <div class="col-2-12 col-sm-3-12 center">{{taskCount}} <span class="expand"></span></div>
{{/if}}


{{> 'tasks'}}
