<div class="col-4-5">
    <div><strong>{{jobDetail}}</strong></div>
    <div>{{storeName}}: {{street}} {{city}}, {{state}}</div>
    {{#if canUnassign}}<div><a href="#" class='unassign'>Unassign Visit</a></div>{{/if}}
</div>
{{#if showCompleted}}
    <div class="col-1-5">{{dateCompleted}}</div>
{{/if}}
