<div class="col-6-12 col-sm-8-12">
    <p class="visit-data bold">{{storeName}}</p>
    <p class="visit-data">{{address}}</p>
    <p class="visit-data">{{jobDetails.name}}</p>
    {{#if canUnschedule}}
        <div><a href="#" class="unschedule">Unschedule Visit</a></div>
    {{/if}}
    {{#if canUnassign}}
        <div><a href="#" class='unassign'>Unassign Visit</a></div>
        <div><a href="#" class='remove'>Remove this store from this job</a></div>
    {{/if}}
</div>

<div class="col-2-12 col-sm-2-12">{{totalDuration}} mins</div>

<div class="col-sm-2-12 visible-xs center">{{taskCount}} <span class="expand"></span></div>

{{#if canConfirm}}
    <div class="col-3-12 col-sm-1">
        {{#if isConfirmed}}
            {{#if dateCompleted}}
                <div class="">Completed on {{dateFormat dateCompleted 'l'}}</div>
            {{/if}}
            <div class=""><span class="confirmedVisit">Confirmed on {{dateFormat lastStatusChange 'l'}}<span class="instructions"></span></span></div>
        {{else}}
            <a href="#" class="visit-confirm-button">Confirmed With Location</a>
        {{/if}}
    </div>
{{else}}
    {{#if dateCompleted}}
        <div class="col-3-12 col-sm-1">Completed on {{dateFormat dateCompleted 'l'}}</div>
    {{/if}}
{{/if}}

<div class="col-1-12 hidden-xs center">{{taskCount}} <span class="expand"></span></div>

{{> 'tasks'}}
