<div class="schedule-row">
    <div><strong>{{taskDetail}}</strong><br/> {{storeName}}: {{street}} {{city}}, {{state}}</div>
    {{#if canUnassign}}<div><a href="#" class='unassign'>Unassign Visit</a></div>{{/if}}
</div>