<div class="health-check pure-g">
	<p class="col-1-3"><span class="data-label">Alive Since:</span>{{aliveSince}}</p>
	<p class="col-1-3"><span class="data-label">Last Checked:</span>{{lastChecked}}</p>
	<p class="col-1-3"><span class="data-label">Status:</span><span class="up-{{up}}">{{status}}</span></p>

	<p class="col-1-3"><span class="data-label">Total Checks:</span>{{count}}</p>
	<p class="col-1-3"><span class="data-label">% Success:</span>{{successPercentage}}</p>
	<p class="col-1-3"><span class="data-label">% Failure:</span>{{failurePercentage}}</p>
	
</div>