<div class="pure-g">
    <div class="col-4-5">
        <a href="/programs/{{program}}/stores/{{id}}">{{name}}</a><br/>
        {{address}}<br/>{{city}}, {{state}}
    </div>
    <div class="col-1-5"><a href="#" class="open-jobs">Open <i class="ic ic_down"></i> </a> </div>
</div>
