<span class="subtle-instruction col-1-1">* Required During Visit</span>
{{#each job.tasks}}
	<div class="col-3-4 col-md-1-2">
		{{name}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}
	</div>
	<form accept-charset="UTF-8" action="{{form_url}}" method="post" class="col-1-4 col-md-1-2 checkin-action">
		<input id="store_uuid" name="store_uuid" type="hidden" value="{{../store.id}}">
		<input id="survey_uuid" name="survey_uuid" type="hidden" value="{{surveyUUID}}">
		<input id="task_uuid" name="task_uuid" type="hidden" value="{{uuid}}">
		<input id="job_uuid" name="job_uuid" type="hidden" value="{{../job.uuid}}">
		<input name="authenticity_token" value="{{../auth_token}}" type="hidden">
		<button class="checkin-form-btn btn primary" name="commit">
			{{#if submission}}
				<i class="ic ic_edit"></i>
				<span>{{submission}}</span>
			{{else}}
				<i class="ic ic_location"></i>
				<span>Start</span>
			{{/if}}
		</button>
	</form>
{{/each}}
