<div class="pure-g">
    <h3 class="col-8-12 col-md-1-2 task-item">Tasks</h3>
  <span class="subtle-instruction col-4-12 col-md-1-2">* Required During Visit</span>
</div>
{{#each tasks}}
    <div class="pure-g">
        <div class="col-4-5">
            {{name}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}
        </div>
        <div class="col-1-5">
            <form accept-charset="UTF-8" action="{{form_url}}" method="post">
                <input id="customer_store_id" name="customer_store_id" type="hidden" value="{{../customerStoreId}}">
                <input id="survey_id" name="survey_id" type="hidden" value="{{survey_id}}">
                <input id="task_uuid" name="task_uuid" type="hidden" value="{{uuid}}">
                <input id="job_uuid" name="job_uuid" type="hidden" value="{{jobUUID}}">
                <input id="type" name="type" type="hidden" value="{{checkin_type}}">
                <input name="authenticity_token" value="{{../authenticityToken}}" type="hidden">
                <button class="btn primary" name="commit"><i class="ic fa ic_location"></i><span>Start</span></button>
            </form>
        </div>
    </div>

{{/each}}
