<div class="pure-g">
    <h3 class="col-8-12 col-md-1-2 task-item">Tasks</h3>
  <span class="subtle-instruction col-4-12 col-md-1-2">* Required During Visit</span>
</div>
{{#each job.tasks}}
    <div class="pure-g">
        <div class="col-4-5">
            {{name}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}
        </div>
        <div class="col-1-5">
            <form accept-charset="UTF-8" action="{{form_url}}" method="post">

                <input id="store_uuid" name="store_uuid" type="hidden" value="{{../store.id}}">
                <input id="survey_uuid" name="survey_uuid" type="hidden" value="{{surveyUUID}}">
                <input id="task_uuid" name="task_uuid" type="hidden" value="{{uuid}}">
                <input id="job_uuid" name="job_uuid" type="hidden" value="{{../job.uuid}}">
                <input name="authenticity_token" value="{{../store.authenticity_token}}" type="hidden">
                <button class="btn primary" name="commit"><i class="ic fa ic_location"></i><span>Start</span></button>
            </form>
        </div>
    </div>
{{/each}}
