<div class="card">
    <div class="header">Education</div>
    <div class="body">

        <label>What is your highest level of education completed?</label>
        <select id="education-level">
            {{#each educationLevels}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
        </select>

        <div class="hide" id="attended-college-follow-up">
            <div class="pure-g">
                <label class="col-1-1">Where did you attend school?</label>
                <input id="universityText" type="text" class="typeahead" name="university.name" placeholder="Select College/University"
                       value="{{person.university.name}}" />
                <input type="hidden" name="university.id" id="university" value="{{person.university.id}}"/>
            </div>

            <label for="graduationYear">When did you graduate</label>
            <select name="graduationYear" data-placeholder="When did you graduate?" id="graduationYear">
                <option></option>
                {{#each graduationYears}}
                    {{#select ../person.graduationYear}}
                        <option value="{{this}}">{{this}}</option>
                    {{/select}}
                {{/each}}
            </select>
        </div>
    </div>
</div>
